*
{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: cursive;
}

body
{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(yama.jpg);
    background-size: cover;
    background-position: center;
}

.login-form
{
    background-color: rgb(64, 64, 64, 0.15);
    border: 3px solid rgba(255, 255, 255, 0.3);
    padding: 30px;
    border-radius: 16px;
    backdrop-filter: blur(25px);
    text-align: center;
    color: white;
    width: 400px;
    box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.5);
}

.login-title
{
    font-size: 40px;
    margin-bottom: 40px;
}

.input-box
{
    margin: 20px 0;
}

.input-box input
{
    width: 100%;
    background: rgba(255, 255, 255, 0.1);
    border: none;
    padding: 12px 12px 12px 45px;
    border-radius: 99px;
    outline: 3px solid transparent;
    transition: 0.3s;
    font-size: 17px;
    color: white;
    font-weight: 600;
}

.input-box input::placeholder
{
    color: rgb(255, 255, 255, 0.8);
    font-size: 17px;
    font-weight: 500;
}

.input-box input:focus
{
    outline: 3px solid rgb(255, 255, 255, 0.3);
}

.input-box input::-ms-reveal
{
    filter: invert(100%);
}

.input-box i
{
    border: solid;
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    color: rgb(255, 255, 255, 0.8);
}

.login-btn
{
    width: 100%;
    padding: 10px 0;
    background: white;
    border: none;
    border-radius: 99px;
    color: black;
    font-size: 16px;
    font-weight:600;
    cursor: pointer;
    transition: 0.3s;
}

.login-btn:hover
{
    background-color: rgb(117, 115, 211);
}